.grid-container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header header"
    "image forms"
    "drinkCards drinkCards"
    "footer footer";
}

.fontePadrao{
  font-family: 'Itim', cursive;
}